    /* Seção Body */

        h3{
            font-size: 30px;
        }

        /* Imagem Fundo Carro */
            .fundo-carro{
                width: 100%;
            }   

        /* Divisão Colunas */
            .colunas{
                display: inline-block;
                margin: 50px;
            }
        /* Fim Divisão Colunas */

        .compra-online{
            width: 470px;
            display: inline-block;
            margin: 50px;
            text-align: left;
        }

        .compra-online ul li{
            margin: 10px 0px;
        }

        .nossas-marcas{
            width: 500px;
            display: inline-block;
            margin: 50px;
            text-align: left;
        }

        .back-color{
            background-color: rgb(83, 83, 83);
        }
        /* Logo Carros */
            .logo-bmw{
                width: 80px;
                height: 80px;
            }

            .logo-audi, .logo-mercedes{
                width: 90px;
                height: 90px;
            }
        

        /* Seção Ofertas especiais */
            .carros-info{
                width: 230px;
                height: 180px;
                border-radius: 10px;
            }

            .border-ofertas{
                background: rgb(155, 153, 153);
                border-radius: 10px;
                padding: 10px;
                height: 300px;
                width: 300px;
            }

            a.botao, input.botao{
                background: #000;
                padding: 5px 10px;
                border-radius: 3px;
                color: #ebebeb;
                cursor: pointer;
                margin: 5px 0;
                display: inline-block;
                border: none;
            } 

            a.botao:hover, input.botao:hover{
                background: #fff;
                padding: 5px 10px;
                border-radius: 3px;
                color: #000;
                cursor: pointer;
                margin: 5px 0;
                display: inline-block;
                border: none;
            } 

            s{
                color: rgb(209, 6, 6);
            }
        /* Fim Seção ofertas especiais */

    /* Fim Seção Body */

    .padding15{
        padding: 15px;
    }

    .border-ofertas a h4{
        color: #000;
        font-size: 20px;
    }

    @media (max-width: 900px) {
        .compra-online{
            width: 300px;
            display: block;
        }

        .nossas-marcas{
            width: 200px;
            display: inline-block;
            margin: 50px;
            text-align: left;
        }

        /* Logo Carros */
            .logo-bmw{
                width: 50px;
                height: 50px;
            }

            .logo-audi, .logo-mercedes{
                width: 60px;
                height: 60px;
            }
        
        h3{
            font-size: 20px;
        }
                

    }

    @media (min-width: 1500px) {
        .border-ofertas{
            background: rgb(155, 153, 153);
            border-radius: 10px;
            padding: 10px;
            height: 350px;
            width: 350px;
        }
        
        .carros-info{
            width: 280px;
            height: 230px;
            border-radius: 10px;
        }

        a.botao, input.botao{
            font-size: 18px;
        } 

        .border-ofertas a h4{
            color: #000;
            font-size: 20px;
        }

        .border-ofertas p{
            font-size: 20px;
        }

    }


    @media (max-width: 500px) {
        .colunas{
            display: inline-block;
            margin: 30px;
        }
       
